.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.Name {
    font-weight: 700;
    font-size: 2em;
    font-family: "Satoshi", sans-serif;
    text-align: center;
}

.email {
    font-weight: 500;
    font-size: 1.25em;
    font-family: "Satoshi", sans-serif;
    text-align: center;
}

.telegram {
    display: flex;
    flex-direction: row;
    column-gap: 1em;
}

.telegramtag {
    font-weight: 700;
    font-size: 1.5em;
    font-family: "Satoshi", sans-serif;
}