.logo {
    position: fixed;
    bottom: 4rem;
    left: 6rem;
}

.sidebar {
    position: fixed;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    width: 450px;
    height: 93vh;
    background: rgba(239, 239, 239, 0.93);
    border-radius: 20px;
}

.icon {

}