.aboutcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.abouttxt1 {
  font-size: 1.75em;
  font-weight: 700;
  text-align: center;
  font-family: 'Satoshi', sans-serif;
  margin: 0.5em;
}

.abouttxt2 {
  width: 50vw;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  font-family: 'Satoshi', sans-serif;
  margin: 0.5em;
}

.bookbtna {
  width: auto;
  height: auto;
  background-color: #40ba21;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.5s ease-out;
  padding: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
}

.bookbtna:hover {
  background-color: #64c04d;
}

.booka {
  font-family: 'Satoshi', sans-serif;
  font-weight: 700;
  font-size: 3em;
  color: #ffffff;
  text-align: center;
}

.rules {
  margin: 0.5em;
  text-align: center;
  font-family: 'Satoshi', sans-serif;
  font-size: 2em;
  font-weight: 700;
}

.term {
  font-size: 0.75em;
  font-weight: 1000;
  margin-top: 1em;
}

.credits {
  margin: 2em;
  text-align: center;
  font-family: 'Satoshi', sans-serif;
  font-size: 1em;
  font-weight: 1000;
  align-self: flex-end;
  justify-self: flex-end;
}

@media (max-width: 768px) {
  .abouttxt2 {
    width: 80vw;
    font-size: 1.5em;
  }

  .booka {
    font-size: 2em;
  }

  .rules {
    font-size: 1.5em;
  }

  .credits {
    font-size: 0.85em;
  }
}

@media (max-width: 480px) {
  .abouttxt1 {
    font-size: 1.5em;
  }

  .abouttxt2 {
    width: 90vw;
    font-size: 1.25em;
  }

  .booka {
    font-size: 1.75em;
  }

  .rules {
    font-size: 1.25em;
  }

  .credits {
    font-size: 0.75em;
  }
}
