.dchoice {
    display: flex;
    max-width: auto;
    height: auto;
    background-color: #40BA21;
    justify-content: center;
    align-items: center;
    font-family: "Satoshi", sans-serif;
    color: white;
    border: none;
    border-radius: 25px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: center;
    font-size: 3rem;
    cursor: pointer;
    padding: 0.5rem;
    outline: none;
}

.dchoice::-ms-expand {
    display: none;
}

.dchoice option {
    background-color: white;
    color: black;
    font-size: 24px;
    font-family: "Satoshi", sans-serif;
}

.dropselection {
    position: relative;
    display: flex;
    flex-direction: row;
    column-gap: 1em;
    justify-content: center;
    margin: 0.5em;
}

.radios {
    display: flex;
    flex-direction: row;
    column-gap: 2em;
    margin-top: 1em;
    justify-content: center;
}

.centring {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.radiostyle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 1em;
    width: 12vw;
    height: 8vh;
    color: #F8F8F8;
    background-color: #91A3B0;
    font-family: "Satoshi", sans-serif;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: 700;
}

.radiostyle input[type="radio"] {
    display: none;
}

.radiostyle input[type="radio"]+label {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.radiostyle input[type="radio"]+label::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #D9D9D9;
    border-radius: 50%;
    margin-right: 10px;
}

.radiostyle input[type="radio"]:checked+label::before {
    background-color: #6AD94E;
}

.schedule {
    width: 55vw;
    height: 55vh;
    background-color: #C6C6C6;
    border-radius: 30px;
    margin: 1em;
    overflow-y: auto;
}

.days {
    display: flex;
    flex-direction: row;
    column-gap: 1em;
    margin: 1em;
}

.daystyle {
    width: auto;
    height: 5vh;
    border-radius: 10px;
    color: #F8F8F8;
    font-family: "Satoshi", sans-serif;
    font-size: 18px;
    font-weight: 700;
    background-color: #91A3B0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 1em;
}

.daystyle.selected {
    background-color: #40BA21;
}

.longday {
    font-size: 18px;
    text-align: center;
    padding: 0px;
}

.schedule-table {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 1em;
}

.schedule-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 5vh;
    border-bottom: 1px solid #91A3B0;
}

.time-slot {
    width: 100px;
    font-family: "Satoshi", sans-serif;
    font-size: 18px;
    text-align: center;
}

.booking-info {
    flex-grow: 1;
    font-family: "Satoshi", sans-serif;
    font-size: 18px;
    text-align: center;
}

.time-selection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0.75em;
}

.time-choice {
    font-family: "Satoshi", sans-serif;
    font-size: 18px;
    padding: 1em;
}

.book-button {
    font-family: "Satoshi", sans-serif;
    font-size: 18px;
    padding: 10px 20px;
    background-color: #40BA21;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.book-button {
    background-color: #369917;
}