.actionscont {
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
  margin-top: 3vh;
  align-items: center;
}

.btnn {
  background-color: #40ba21;
  width: auto;
  height: auto;
  border-radius: 25px;
  padding: 1em;
}

.building {
  font-size: 3rem;
  font-weight: 700;
  font-family: 'Satoshi', sans-serif;
  color: #ffffff;
  text-align: center;
}

.notification {
  display: flex;
  justify-content: center;
  width: 7em;
  height: 7em;
  background: linear-gradient(
    60deg,
    rgba(64, 186, 33, 1) 0%,
    rgba(229, 229, 229, 1) 100%
  );
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  transition: transform 1s;
  cursor: pointer;
}

.notification:hover {
  background: linear-gradient(
    100deg,
    rgba(236, 0, 0, 1) 0%,
    rgba(229, 229, 229, 1) 100%
  );
  transform: rotate(360deg);
}
