.bookbtn {
  width: 14vw;
  height: auto;
  background-color: #40ba21;
  border-radius: 25px;
  transition: all 0.5s ease-out;
  cursor: pointer;
}

.bookbtn:hover {
  background-color: #64c04d;
}

.book {
  font-family: 'Satoshi', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: #ffffff;
  text-align: center;
}
