.bookbtn {
    position: relative;
    width: 300px;
    height: 75px;
    background-color: #40BA21;
    border-radius: 25px;
    margin: 30px;
    top: 25px;
    transition: all 0.5s ease-out;
    cursor: pointer;
}

.bookbtn:hover {
    background-color: #64c04d;
}

.book {
    font-family: "Satoshi", sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #FFFFFF;
    text-align: center;
}