/* Стиль для каждого блока бронирования на главной странице */
.bookbox {
  width: 18vw;
  height: auto;
  background-color: #ffffff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/* Стиль для контейнера с машиной и информацией о бронировании */
.machinecont {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.interval {
  font-family: 'Satoshi', sans-serif;
  font-weight: 700;
  font-size: 1.25em;
}

.timef {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Стиль для названия машины */
.machine {
  font-family: 'Satoshi', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

/* Стиль для времени бронирования */
.timeb {
  font-family: 'Satoshi', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

/* Стиль для кнопки бронирования */
.book-button {
  background-color: #40ba21;
  width: 350px;
  height: 50px;
  border-radius: 25px;
  font-family: 'Satoshi', sans-serif;
  font-weight: 700;
  color: #ffffff;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  text-transform: uppercase;
}

/* Стиль для контейнера деталей бронирования на странице Item */
.item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(233, 233, 233);
  padding: 20px;
}

/* Стиль для деталей бронирования на странице Item */
.item-details {
  width: 40vw;
  height: auto;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  align-self: center;
  justify-self: center;
}

/* Стиль для названия детали на странице Item */
.item-title {
  font-family: 'Satoshi', sans-serif;
  font-weight: 700;
  font-size: 2em;
}

/* Стиль для времени до начала бронирования на странице Item */
.item-time-left {
  font-family: 'Satoshi', sans-serif;
  font-weight: 500;
  font-size: 1em;
}

/* Стиль для блока с информацией о месте */
.item-info {
  display: flex;
  flex-direction: column;
}

/* Стиль для блока с местом и этажом */
.item-location {
  font-family: 'Satoshi', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
}

/* Стиль для блока с датами и временем */
.item-dates {
  font-family: 'Satoshi', sans-serif;
  font-weight: 400;
  font-size: 1em;
}

/* Стиль для кнопки отмены бронирования на странице Item */
.cancel-button {
  width: 15vw;
  height: 5vh;
  background-color: #bf0505;
  font-size: 1em;
  font-weight: 700;
  font-size: 0.9em;
  color: #ffffff;
  border-radius: 25px;
  margin: 1em;
  transition: all 0.5s ease-in-out;
}

.cancel-button:hover {
  background-color: #bf0505bd;
}

.centerloading {
  justify-self: center;
  align-self: center;
}

@media (max-width: 768px) {
  .bookbox {
    width: auto;
  }

  .interval {
    font-size: 1em;
  }

  .machine {
    font-size: 20px;
  }

  .timeb {
    font-size: 12px;
  }

  .book-button {
    width: 70vw;
    height: 45px;
    font-size: 1.25em;
  }

  .item-details {
    width: 80vw;
  }

  .item-title {
    font-size: 1.75em;
  }

  .item-location {
    font-size: 1.25em;
  }

  .cancel-button {
    width: 40vw;
    height: 6vh;
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  .bookbox {
    width: auto;
  }

  .interval {
    font-size: 0.875em;
  }

  .machine {
    font-size: 18px;
  }

  .timeb {
    font-size: 10px;
  }

  .book-button {
    width: 90vw;
    height: 40px;
    font-size: 1em;
  }

  .item-details {
    width: 90vw;
  }

  .item-title {
    font-size: 1.5em;
  }

  .item-location {
    font-size: 1em;
  }

  .cancel-button {
    width: 60vw;
    height: 5vh;
    font-size: 0.75em;
  }
}
