.home {
  position: relative;
  width: 70.313vw;
  height: 83.333vh;
  background-color: rgb(233, 233, 233);
  top: 40px;
  right: 30px;
  border-radius: 20px;
  display: flex;
}

.bookbox {
  width: 350px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 25px;
}

.clock {
  position: relative;
  top: 8px;
  left: 301px;
}

.machinecont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.machine {
  font-family: 'Satoshi', sans-serif;
  font-weight: 700;
  font-size: 32px;
}

.time {
  font-family: 'Satoshi', sans-serif;
  font-weight: 700;
  font-size: 15px;
}

.btnn {
  background-color: #40ba21;
  width: 350px;
  height: 100px;
  border-radius: 25px;
}

.building {
  font-size: 64px;
  font-weight: 700;
  font-family: 'Satoshi', sans-serif;
  color: #ffffff;
  text-align: center;
}

.details {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  left: 90px;
  top: 100px;
}

.dbox {
  width: 800px;
  height: 100px;
  border-radius: 25px;
  border: 3px solid black;
  justify-content: center;
  align-content: center;
}

.dboxcont {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.dboxt {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  font-family: 'Satoshi', sans-serif;
}

.itemdetails {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  row-gap: 30px;
  left: 90px;
  top: 100px;
}

.cancelbtn {
  width: 300px;
  height: 75px;
  background-color: #bf0505;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  border-radius: 15px;
  cursor: pointer;
}
